/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


	body{background:white;width:100%;overflow-x:hidden;font-family: 'Rambla', sans-serif;font-style:italic;font-size:18px;background:#333;box-shadow:inset 38px 0 46px #444, inset -38px 0 46px #444;}
	p {line-height:14px;}
			
	#cover{width:100%;height:768px;min-width:640px;box-sizing:border-box;padding:0 10px;-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}
	
	#cover .pageContainer {width:100%;max-width:1024px;height:768px;box-sizing:border-box;background:url(../img/cover/bgYellow.png) #FDE135;margin-left:auto;margin-right:auto;position:relative;box-shadow:8px 0 20px #000, -8px 0 20px #000, inset 7px -5px 24px #FFF; -webkit-border-top-right-radius: 7px;
-webkit-border-bottom-right-radius: 7px;
-moz-border-radius-topright: 7px;
-moz-border-radius-bottomright: 7px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;}
	
	/* #cover #thing {width:100%;max-width:1024px;height:768px;margin-left:auto;margin-right:auto;position:relative;} */
	#cover .animals{width:100%;max-width:1024px;height:768px;box-sizing:border-box;margin-left:auto;margin-right:auto;position:relative;overflow:hidden;position:absolute;top:0;}
	
	#cover .whatword {text-align:center;margin-left:auto;margin-right:auto;padding-top:3%;}
	#cover .whatword>div{height:126px;display:inline-block;position:relative;z-index:3;}
	#cover .whatword .w{background:url(../img/cover/whatw.png) no-repeat;width:120px;}
	#cover .whatword .h{background:url(../img/cover/whath.png) no-repeat;width:51px;}
	#cover .whatword .a{background:url(../img/cover/whata.png) no-repeat;width:46px;}
	#cover .whatword .t{background:url(../img/cover/whatt.png) no-repeat;width:52px;}
	
	#cover .theword {height:61px;width:94px;background:url(../img/cover/the.png) no-repeat;background-size:100%;margin-left:auto;margin-right:auto;position:relative;}

	#cover .ladybirdword{text-align:center;margin-left:auto;margin-right:auto}
	#cover .ladybirdword div{height:165px;display:inline-block;position:relative;z-index:2;}
	#cover .ladybirdword .l{background:url(../img/cover/ladybirdl.png) no-repeat;width:83px;}
	#cover .ladybirdword .a{background:url(../img/cover/ladybirda.png) no-repeat;width:59px;}
	#cover .ladybirdword .d{background:url(../img/cover/ladybirdd.png) no-repeat;width:58px;}
	#cover .ladybirdword .y{background:url(../img/cover/ladybirdy.png) no-repeat;width:48px;}
	#cover .ladybirdword .b{background:url(../img/cover/ladybirdb.png) no-repeat;width:58px;}
	#cover .ladybirdword .icontainer{width:27px;}
	#cover .ladybirdword .i{background:url(../img/cover/ladybirdi.png) no-repeat;width:27px;}
	#cover .ladybirdword .r{background:url(../img/cover/ladybirdr.png) no-repeat;width:53px;}
	#cover .ladybirdword .d{background:url(../img/cover/ladybirdd2.png) no-repeat;width:72px;}

	#cover .heardword{text-align:center;margin-left:auto;margin-right:auto}
	#cover .heardword>div{height:120px;display:inline-block;position:relative;z-index:2;}
	#cover .heardword .h{background:url(../img/cover/heardh.png) no-repeat;width:75px;}
	#cover .heardword .e{background:url(../img/cover/hearde.png) no-repeat;width:45px;}
	#cover .heardword .a{background:url(../img/cover/hearda.png) no-repeat;width:43px;}
	#cover .heardword .r{background:url(../img/cover/heardr.png) no-repeat;width:52px;}
	#cover .heardword .d{background:url(../img/cover/heardd.png) no-repeat;width:53px;}
	
	#cover .ladybird{width:36px; height:35px !important;background:url(../img/cover/ladybird.png) no-repeat;z-index:1;top:-284px;left:-12px;position:absolute!important;visibility:hidden;}
	#cover svg{position:absolute;width:300px;height:300px;bottom:118px;left:17px;z-index:0;}
	#cover .flightPath{}
	
	
	#cover .goose{background:url(../img/cover/goose.png) no-repeat; height:63px; width:99px;position:absolute;top:32px;right:0;margin-right:-99px;}
	#cover .sheep{background:url(../img/cover/sheep.png) no-repeat; height:207px; width:162px;position:absolute;top:108px;right:0;margin-right:-162px}
	#cover .horse{background:url(../img/cover/horse.png) no-repeat; height:203px; width:149px;position:absolute;top:400px;right:0;margin-right:-149px}
	#cover .duck{background:url(../img/cover/duck.png) no-repeat; height:87px; width:83px;position:absolute;top:0;left:0;margin-left:-83px;}
	#cover .cow{background:url(../img/cover/cow.png) no-repeat; height:205px; width:175px;position:absolute;top:92px;left:0;margin-left:-175px;}
	#cover .pig{background:url(../img/cover/pig.png) no-repeat; height:192px; width:113px;position:absolute;top:340px;left:0;margin-left:-113px}
	#cover .dog{background:url(../img/cover/dog.png) no-repeat; height:137px; width:116px;position:absolute;top:588px;left:0;margin-left:-116px}
	#cover .cat1{background:url(../img/cover/cat1.png) no-repeat; height:137px; width:145px;position:absolute;top:649px;left:15%;margin-top:137px}
	#cover .cat2{background:url(../img/cover/cat2.png) no-repeat; height:131px; width:190px;position:absolute;top:637px;left:65%;margin-top:131px}
	#cover .hen{background:url(../img/cover/hen.png) no-repeat; height:103px; width:107px;position:absolute;top:637px;left:50%;margin-left:-53.5px;}
	#cover .egg{background:url(../img/cover/egg.png) no-repeat; width:28px; height:37px;display:inline-block;position:absolute;top:731px;left:50%;margin-left:0;}
	#cover .hen .feather{background:url(../img/cover/feather.png) no-repeat; width:20px; height:40px;display:inline-block;position:absolute;}
	

	#page1{width:100%;height:768px;/*border:20px solid #778E88*/;box-sizing:border-box;overflow:hidden;margin-top:100px;}
	#page1 .pageContainer {width:100%;max-width:1024px;height:768px;box-sizing:border-box;background:url(../img/page1/bg.jpg) #FDE135;margin-left:auto;margin-right:auto;position:relative;box-shadow:8px 0 20px #000, -8px 0 20px #000, inset 7px -5px 24px #FFF; overflow:hidden;-webkit-border-top-right-radius: 7px;
-webkit-border-bottom-right-radius: 7px;
-moz-border-radius-topright: 7px;
-moz-border-radius-bottomright: 7px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;}

	/*#page1 .scene{border:5px solid red; width:200%;height:768px;;position:relative;box-sizing:border-box;}*/
	
	#page1 .text{position:absolute;margin:20px;z-index:5;}
	#page1 .pond{background:url(../img/page1/pond.png);background-size:100% 100%;width:700px;height:270px;position:absolute;top:30px;right:-700px;}
	#page1 .pad1{position:relative;left:70%;top:15%}
	#page1 .pad2{position:relative;left:44%;top:23%}
	#page1 .pad3{position:relative;left:41%;top:35%}
	#page1 .pad4{position:relative;left:46%;top:44%}
	
	#page1 .fish1{position:relative;left:47%;top:45%}
	#page1 .fish2{position:relative;left:36%;top:59%}
	#page1 .fish3{position:relative;left:19%;top:56%}
	#page1 .fish4{position:relative;left:18%;top:66%}
	#page1 .fish5{position:relative;left:4%;top:77%}
	
	#page1 .prop{position:absolute;background-size:100% 100%;}
	#page1 .actor{position:absolute;background-size:100% 100%;}
	#page1 .fence{width:346px;height:452px;background:url(../img/page1/fence.png);right:-346px; top:10%;}
	
	#page1 .bush{width:415px; height:317px;background:url(../img/page1/bush.png);right:-415px;bottom:0;}
	#page1 .hen{width:100px;height:114px;background:url(../img/page1/hen.png);background-size:100% 100%;left:50px;top:45%;}
	#page1 .duck{width:143px;height:123px;background:url(../img/page1/duck.png);background-size:100% 100%;top:-160px;left:10%;}
	#page1 .goose{width:99px;height:171px;background:url(../img/page1/goose.png);background-size:100% 100%;right:-100px;top:100px;}
	
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
