<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="http://msdn.microsoft.com/en-us/default.aspx" httpResponseStatus="Temporary" />
        <staticContent>
            <mimeMap fileExtension=".m4a" mimeType="video/mp4" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>
